@model Codeyad.Web.Areas.Admin.Models.Categories.CreateCategoryViewModel
@{
    ViewData["Title"] = "افزودن";
    ViewData["selected"] = "category";
    var counter = 1;
}
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="admin" asp-controller="home" asp-action="index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="admin" asp-controller="category" asp-action="index">دسته بندی ها</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="post" asp-area="admin" asp-controller="category" asp-action="add">
        <div class="box-body row">
            <div class="col-md-6">
                @Html.EditorFor(m=> m.Title)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.Slug)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.MetaTag)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.MetaDescription)
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">ثبت اطلاعات</button>
        </div>
    </form>
</section>